/* reset */
*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template: 
        auto 1fr auto / auto 1fr auto;
}
input,
button,
textarea,
select {
    font: inherit;
}
main{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}
header{
    grid-column: 1/4;
    font-size: 2rem;
    font-weight: bold;
}
footer{
    grid-column: 1/4;
}
.left-sidebar{
    grid-column: 1/2;
}
.right-sidebar{
    grid-column: 3/4;
}

.left-sidebar img{
    width: 32px;
    height: auto;
}
.left-sidebar img:hover{
    height: auto;
    box-shadow: 0 0 5px 1px black;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
a:active{
    color: black;
    font-weight: bolder;
}
a:hover{
    color: gray;
}
.dropdown{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    min-height: 200px;
    border-radius: 8px;
    padding: 12px;
    min-width: 100px;
    box-shadow: 0 0 10px 2px gray;
    margin: 12px 28px;
}
.dropdown img{
    margin-bottom: 5px;
}
.dropdown a{
    font-size: 2rem;
}
.hidden{
    display: none;
}
