/* reset */
*{
    padding: 0;
    margin: 0;
    text-align: center;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template: 
        auto 1fr auto / auto 1fr auto;
}
input,
button,
textarea,
select,
#file-upload-button{
    font: inherit;
    
}
main{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
}
header{
    grid-column: 1/4;
    font-size: 2rem;
    font-weight: bold;
}
footer{
    grid-column: 1/4;
}
.left-sidebar{
    grid-column: 1/2;
}
.right-sidebar{
    grid-column: 3/4;
}
.left-sidebar img{
    width: 32px;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}
a:visited{
    color: black;
}
a:active{
    color: black;
    font-weight: bolder;
}
a:hover{
    color: gray;
}
.dropdown{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: fit-content;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0 0 10px 2px gray;
    margin: 12px 28px;
}
.dropdown a{
    font-size: 2rem;
    margin-top: 8px;
}
.dropdown img{
    pointer-events: none;
    width: 32px;
}
.hidden{
    display: none;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 125px;
}
.input input{
    text-align-last: center;
}
header h1{
    margin: auto;
}
.input>label{
    font-size: larger;
}
::file-selector-button, .submit{
    padding: 2px 24px;
    border-radius: 3rem;
    height: 2rem;
    border: 2px solid black;
}
::file-selector-button:hover, .submit:hover{
    border-width: 3px;
    background-color: lightgray;
}
::file-selector-button:active, .submit:active{
    background-color: darkgray;
}
dialog{
    box-shadow: 0 0 10px 2px gray;
    border-radius: 8px;
    border: none;
    margin: auto;
}
.modal{
    display: flex;
    padding: 12px 18px;
    width: 415px;
    gap: 24px;
}
.modal img:first-child{
    width: 4rem;
    align-self: center;
}
.modal img{
    width: 1rem;
    height: max-content;
    aspect-ratio: 1;
}
.modal img:last-child{
    height: fit-content;
    padding: 4px;
    border-radius: 50%;
}
.exit:hover{
    background-color: lightgray;
}
.exit:active{
    background-color: darkgray;
}

